html, body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
  cursor: pointer;
  text-decoration: none;
}

body {
  overflow: hidden;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

.w200 {
  width: 200px;
}

.w400 {
  width: 400px;
}
