$col-default: hsl(0, 0%, 50%)
$col-failure: hsl(0, 60%, 50%)
$col-primary: hsl(210, 60%, 50%)
$col-success: hsl(135, 60%, 50%)
$col-warning: hsl(45, 60%, 50%)

.default-1
    color: darken($col-default, 15%)

.failure-1
    color: darken($col-failure, 15%)

.primary-1
    color: darken($col-primary, 15%)

.success-1
    color: darken($col-success, 15%)

.warning-1
    color: darken($col-warning, 15%)

.button.button-inline
    border-radius: 2rem
    display: inline-block
    width: auto
