html, body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
  cursor: pointer;
  text-decoration: none;
}

/* .container {
  display: flex;
}

.container>*:first-child {
  margin-left: 1rem;
}

.container>* {
  margin-right: 1rem;
} */

.flex {
  display: flex;
}

.f1 {
  flex: 1;
}

.f2 {
  flex: 2;
}

.f3 {
  flex: 3;
}

.f4 {
  flex: 4;
}

.f5 {
  flex: 5;
}
