html, body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
  cursor: pointer;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.w200 {
  width: 200px;
}

.w400 {
  width: 400px;
}
